<ion-view title="Conversa Artur" hide-nav-bar="true" id="page14" style="background-color:#ffffff;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    
    <div style="display: flex; align-items: center;">
      <button type="button" class="buttonBack"><img src="img/arrowBack.svg" style="margin-right: 20px;" onclick="history.go(-1)"/></button>
      <img src="img/artur.jpg" style="display:block;width:16%;height:auto; border-radius:50%">
      <h3 id="conversaArtur-heading7" style="color:#000000;font-weight: bold; margin-left: 20px;">Artur</h3>
    </div>
    
    <div id="messageFeed"></div>

    <div style="position:absolute; bottom:10px; display:flex">
      
      <input onkeydown="keydownEvent(event)" type="text" id="texto" name="Nome" size="35" placeholder="Mensagem" style="bottom:10px;border: 1px solid black ;display:flex; flex-grow: 1; padding-left: 10px; color: black">
      <img src="img/sendMessage.svg" style="margin-left: 20px; display:flex" onclick="enviar()"/>
    </div>

  </ion-content>
</ion-view>
