<ion-view title="Conversa Artur" hide-nav-bar="true" id="page14" style="background-color:#ffffff;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    
    <div style="display: flex; align-items: center;">
      <button type="button" class="buttonBack"><img src="img/arrowBack.svg" style="margin-right: 20px;"/></button>
      <img src="img/yxZ0ffaBS9SF8NVOw4HM_Capturadeecrde2021-05-2515-15-04.png" style="display:block;width:20%;height:auto; border-radius:50%">
      <h3 id="conversaArtur-heading7" style="color:#000000;font-weight: bold">Artur</h3>
    </div>
    
    <div style="position:absolute; bottom:10px; display:flex">
      <input type="text" id="texto" name="Nome" size="35" placeholder="Mensagem" style="bottom:10px; display:flex; flex-grow: 1; padding-left: 10px; color: black">
      <img src="img/sendMessage.svg" style="margin-left: 20px; display:flex"/>
    </div>

  </ion-content>
</ion-view>
