<ion-view title="Conversa Artur" hide-nav-bar="true" id="page14" style="background-color:#5685A0;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div onclick="document.getElementById('imagem').style.display='block'">
    <h4 id="conversaArtur-heading7" style="color:#000000;">Conversa com Arturito</h4>
  </div>
    <div>
      <img id="imagem" src="img/artur.jpg" style="display:none;width:40%;height:auto;">
    </div>
    <div style="position:absolute; bottom:10px; display:flex">
      <input type="text" id="texto" name="Nome" size="35" placeholder="Mensagem" style="bottom:10px; display:flex; flex-grow: 1; padding-left: 10px; color: black">
      <img src="img/sendMessage.svg" style="margin-left: 20px; display:flex"/>
    </div>
  </ion-content>
</ion-view>
