<ion-view title="Home" hide-nav-bar="true" id="page10" style="background-color:#f5f5f5;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div style="display:flex">
      <h1 id="home-heading9" style="color:#000000;font-weight: bold">NoteBird</h1>
      <img src="img/NoteBird.png" style="height:50px; padding-left:10px; border-radius:70%">
    </div>
    <div style="height: 150px">
      <h4 style="color:#000000">Your Playlists</h4>
      <div style="display:flex">
        <img src="img/astro.jpg" style="height:125px; ">
        <img src="img/PmyYI02ITJe8ukfHm5WY_Evolve.jpg" style="height:125px; padding-left:10px">
      </div>
    </div>
    <h4 id="home-heading3" style="color:#000000;font-weight: bold">NoteBird Weekly</h4>
    <div>
      <svg style="display: inline" width="14" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 10.6232L16.8829 14L13.7437 10.608L14.8457 9.40734L16.0907 10.7525V2.54649C16.0921 2.32282 16.0127 2.11223 15.8673 1.95345C15.7205 1.79303 15.5244 1.70478 15.3154 1.70478H6.90796L5.33981 0.0102648H15.3154C15.9436 0.0102648 16.5331 0.276321 16.9753 0.759097C17.4153 1.23989 17.6556 1.8773 17.6523 2.55461V10.7721L18.8965 9.42406L20 10.6232ZM12.811 12.2952H4.6846C4.4754 12.2952 4.27948 12.207 4.13269 12.0467C3.98727 11.8879 3.90793 11.6772 3.9093 11.4535V3.24748L5.15427 4.59266L6.25626 3.39201L3.11707 0L0 3.37695L1.10352 4.57594L2.34772 3.22811V11.4454C2.34436 12.1227 2.58469 12.7603 3.02475 13.2409C3.46695 13.7237 4.0564 13.9897 4.6846 13.9897H14.6602L13.092 12.2952H12.811Z"
          fill="#000000"></path>
      </svg>

      <p style="color: #000000; display: inline">
        Artur renoted "Evolve"
      </p>
    </div>
    <div>
      <img src="img/PmyYI02ITJe8ukfHm5WY_Evolve.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto; margin-top:10px">
    </div>
    <div class="spacer" style="width: 289.167px; height: 19px;"></div>
    <div id="home-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Jony Kings dropped "Summer Bliss"</p>
    </div>
    
     
    <div>
      <img src="img/j2MXtjrRwK4HKxGsh6Pa_Capturadeecrde2021-05-2515-15-04.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
  <div class="musicTab" ui-sref="musica">
    <div class="musicProgress"></div>
    <div class="musicImage"></div>
    <div>
      <h4 style="font-weight: bold">Caveira</h4>
      <h5>ProfJam</h5>
    </div>
    <div style="margin-left:auto">
      <img src="img/leftArrow.svg" style="height:35px">
    </div>
    <div>
      <img src="img/playButton.svg" style="height:40px; padding-left: 10px; padding-right: 10px;">
    </div>
    <div>    
      <img src="img/rightArrow.svg" style="height:35px">
    </div>
  </div>
</div>
</ion-view>

