<ion-view title="Messages" hide-nav-bar="true" id="page12" style="background-color:#f5f5f5;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h2 id="messages-heading6" style="color:#FFFFFF;font-weight:600;color: #000000">Messages</h2>
    <ion-list id="messages-list2" >
      <ion-item class="item-avatar item-icon-right" id="messages-list-item10">
        <img src="img/ROT4qSYQ36Han3YnEhlK_Capturadeecrde2021-05-2515-15-04.png">
        <h2>D8</h2>
         <div style="background-color: red; height:8px;width: 8px; border-radius:50%; display:flex;margin-left:auto"></div>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="messages-list-item11">
        <img src="img/irxUD1hQ5OkoV2FpJjxx_Capturadeecrde2021-05-2515-15-04.png">
        <h2>Bernas</h2>
         <div style="background-color: green; height:8px;width: 8px; border-radius:50%; display:flex;margin-left:auto"></div>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="messages-list-item12">
        <img src="img/c0FgpEEpT9O1mUIFFyi2_Capturadeecrde2021-05-2515-15-04.png">
        <h2>Mariana</h2>
         <div style="background-color: red; height:8px;width: 8px; border-radius:50%; display:flex;margin-left:auto"></div>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="messages-list-item14">
        <img src="img/MN1ZZXwSQ0OMVC0YU1Qo_Capturadeecrde2021-05-2515-15-04.png">
        <h2>Gonçalo</h2>
         <div style="background-color: green; height:8px;width: 8px; border-radius:50%; display:flex;margin-left:auto"></div>
      </ion-item>
      <a href="/index.html#/page14" style="text-decoration: none">
      <ion-item class="item-avatar item-icon-right" id="messages-list-item7" >
        <img src="img/artur.jpg">
        <h2 >Artur</h2>
        <div style="background-color: green; height:8px;width: 8px; border-radius:50%; display:flex;margin-left:auto"></div>
      </ion-item>
      </a>
    </ion-list>
    </ion-content>
  <div class="musicTab" ui-sref="musica">
    <div class="musicProgress"></div>
    <div class="musicImage"></div>
    <div>
      <h4 style="font-weight: bold">Caveira</h4>
      <h5>ProfJam</h5>
    </div>
    <div style="margin-left:auto">
      <img src="img/leftArrow.svg" style="height:35px">
    </div>
    <div>
      <img src="img/playButton.svg" style="height:40px; padding-left: 10px; padding-right: 10px;">
    </div>
    <div>    
      <img src="img/rightArrow.svg" style="height:35px">
    </div>
  </div>
</div>
</ion-view>
