<ion-view  id="page19" hide-nav-bar="true" id="page11" style="background-color:#f5f5f5;">
  <ion-content padding="true" class="has-header">
  <div style="height: 30px"></div>
    <div>
      <img src="img/UWfOjdl5QaiVtCXMdJaW_zpah50df1Lfk0Ilo1hsFwxcClJzHh5kymztWKEvoDsRiZZY4lww1XKADAto8jGt4RqEe5rMubLn2jfnq5J8" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;height: 80%; width: 80%">
    </div>
    <h2 id="musica-heading10" style="color:#000000;font-weight:600;text-align:center;">Não dá</h2>
    <h5 id="musica-heading11" style="color:#000000;text-align:center;">D.A.M.A.</h5>

    <div class="spacer" style="width: 50px; height: 30px;"></div>

    <div style="display:flex; margin-left:50px">
      <div style="margin-right:30px">
        <button type="button" style="height: 40px; width:40px; border-radius: 50%; border-color: #f5f5f5; background-color:#f5f5f5"><img src="img/shareButton.svg" ></button>
      </div>

      <div style="margin-right:30px">
        <button type="button" style="height: 40px; width:40px;border-radius: 50%; border-color: #f5f5f5; background-color:#f5f5f5"><img src="img/add2Playlist.svg" ></button>
      </div>

      <div style="margin-right:30px">
        <button type="button" style="height: 40px; width:40px;border-radius: 50%; border-color: #f5f5f5; background-color:#f5f5f5"><img src="img/repost.svg" ></button>
      </div>

      <div style="margin-right:30px">
        <button type="button" style="height: 40px; width:40px;border-radius: 50%; border-color: #f5f5f5; background-color:#f5f5f5"><img src="img/egg.svg" ></button>
      </div>
    </div>

    <div class="spacer" style="width: 300px; height: 0px;"></div>
  </ion-content>
</ion-view>