<ion-view title="Playlists" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="playlists-form3" class="list">
      <label class="item item-input" id="playlists-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="music to add">
      </label>
      <ion-item class="item-thumbnail-left" id="playlists-list-item13">
        <h2>Musica</h2>
      </ion-item>
    </form>
    <button type="button" style="background-color: #5685A0; border-color: #5685A0; color:#FFFFFF">Create New Playlist</button>
  </ion-content>
</ion-view>