<ion-view title="Playlists" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="playlists-form3" class="list">
      <label class="item item-input" id="playlists-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="music to add">
      </label>
      <ion-item class="item-thumbnail-left" id="playlists-list-item13">
        <h2>Musica</h2>
      </ion-item>
    </form>
    <a ui-sref="tabsController.profile()" id="uploadSongs-button11" style="color:#FFFFFF; position: fixed; width: 95%;; bottom: 95px;" class="button button-stable button-block">Publish</a>
  </ion-content>
</ion-view>