<ion-view title="Profile" id="page13">
  <ion-content padding="true" class="has-header">
  
    <div id="profile-container1" class="profileInfo" style="margin-top:25px"></div>
      <section style="display:flex; margin-left: 10px">
        <div>
          <img src="https://photos.bandsintown.com/thumb/9815228.jpeg" style="border-radius:50px; height:75px">
          <div style="font-size: small; margin-top: 5px; text-align: center; width: 100%;"><b>Martin Garrix</b></div>
        </div>  
        
        <div style="display:flex; margin-top: 16px;">
          <div style="display:inline; margin-left:20px; align-text: center">
            <p class="profile"><b>20</b></p>
            <p class="letras" style="font-size:12px">Playlist</p>
          </div>
          <div style="display:inline; margin-left:20px; align-text: center">
            <p class="profile"><b>123M</b></p>
            <p class="letras" style="font-size:12px">Followers</p>
          </div>
          <div style="display:inline; margin-left:20px; align-text: center">
            <p class="profile"><b>86</b></p>
            <p class="letras" style="font-size:12px">Following</p>
          </div>
        </div>
      </section>
      <div style="display:flex">
        <button id="profile-button14" style="color:#FFFFFF; display:flex; margin-left:auto; margin-top: 20px;" class="editButton">Edit</button>
      </div>  
    </div>

    <h3 id="profile-heading12" style="color:#000000; font-weight:bold; margin-top: 20px;">Library</h3>
    <div id="profile-markdown10" class="show-list-numbers-and-dots"></div>
    <div class="spacer" style="width: 290.4px; height: 1px;"></div>
    <ion-list id="profile-list7">
      <ion-item class="item-icon-right" id="profile-list-item27" ui-sref="tabsController.playlists()">My playlists
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="profile-list-item28">My songs
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="profile-list-item29">Liked
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="profile-list-item30" ui-sref="tabsController.uploadSongs()">Upload song
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
    </ion-list>
    </ion-content>

</ion-view>