<ion-view title="Search" hide-nav-bar="true" id="page11" style="background-color:#f5f5f5;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
  <div style="background-color: grey; left: 0px;" >
    <form id="search-form1" class="list" >
      <div style="display:flex; align-items: center;">
        <label class="item item-input" id="search-search1" name="Pesquisar" style="flex-grow:1;">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" oninput="search(event)">
        </label>
      </div>
      <div id="search-button-bar1" class="button-bar">
        <button id="search-button4" class="button button-stable button-block">All</button>
        <button id="search-button5" class="button button-stable button-block">Artist</button>
        <button id="search-button6" class="button button-stable button-block">Album</button>
        <button id="search-button7" class="button button-stable button-block">Songs</button>
      </div>
    </form>
    </div>
    <div id="historyTopSearch">
      <h3 id="search-heading8" style="color:#000000; font-weight: bold">History</h3>
      <div id="search-markdown6" class="show-list-numbers-and-dots">
        <button type="button" style="border-radius:10px; border-color: #5685A0;margin-top:10px;margin-right:10px">Yellow Submarine</button>
        <button type="button" style="border-radius:10px; border-color: #5685A0;margin-top:10px;margin-right:10px">Imagine</button>
        <button type="button" style="border-radius:10px; border-color: #5685A0;margin-top:10px;margin-right:10px">The Dark Side of the Moon</button>
      </div>

      <div style="height:20px"></div>
      <h3 id="search-heading5" style="color:#000000; font-weight: bold">Top Search</h3>
      <div id="search-markdown7" class="show-list-numbers-and-dots">
        <button type="button" style="border-radius:10px; background-color: #5685A0;border-color: #5685A0">John Lennon</button>
      </div>
    </div>
    <div id="searchedSongs">
      
    </div>  
   </ion-content>
  <div class="musicTab" ui-sref="musica">
    <div class="musicProgress"></div>
    <div class="musicImage"></div>
    <div>
      <h4 style="font-weight: bold">Caveira</h4>
      <h5>ProfJam</h5>
    </div>
    <div style="margin-left:auto">
      <img src="img/leftArrow.svg" style="height:35px">
    </div>
    <div>
      <img src="img/playButton.svg" style="height:40px; padding-left: 10px; padding-right: 10px;">
    </div>
    <div>    
      <img src="img/rightArrow.svg" style="height:35px">
    </div>
  </div>
</div>
</ion-view>