<ion-view title="SearchAutocomplete" hide-nav-bar="true" id="page15" style="background-color:#F5F5F5;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="searchAutocomplete-form2" class="list">
      <label class="item item-input" id="searchAutocomplete-search2" name="Pesquisar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <div id="searchAutocomplete-button-bar2" class="button-bar">
        <button id="searchAutocomplete-button7" class="button button-stable button-block">All</button>
        <button id="searchAutocomplete-button8" class="button button-stable button-block">Artist</button>
        <button id="searchAutocomplete-button9" class="button button-stable button-block">Album</button>
      </div>
    </form>
    <ion-list id="searchAutocomplete-list4">
      <ion-item class="dark" id="searchAutocomplete-list-item20">Item 1</ion-item>
      <ion-item id="searchAutocomplete-list-item21">Item 2</ion-item>
      <ion-item id="searchAutocomplete-list-item22">Item 3</ion-item>
    </ion-list>
    </ion-content>
  <div class="musicTab" ui-sref="musica">
    <div class="musicProgress"></div>
    <div class="musicImage"></div>
    <div>
      <h4 style="font-weight: bold">Caveira</h4>
      <h5>ProfJam</h5>
    </div>
    <div style="margin-left:auto">
      <img src="img/leftArrow.svg" style="height:35px">
    </div>
    <div>
      <img src="img/playButton.svg" style="height:40px; padding-left: 10px; padding-right: 10px;">
    </div>
    <div>    
      <img src="img/rightArrow.svg" style="height:35px">
    </div>
  </div>
</div>
</ion-view>