<ion-view hide-nav-bar="true" id="page1">
  <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/page1/page10" id="tabsController-tab10">
      <ion-nav-view name="tab10"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Search" icon="ion-android-search" href="#/page1/page11" id="tabsController-tab11">
      <ion-nav-view name="tab11"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Messages" icon="ion-email" href="#/page1/page12" id="tabsController-tab12">
      <ion-nav-view name="tab12"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" icon="ion-android-person" href="#/page1/page13" id="tabsController-tab13">
      <ion-nav-view name="tab13"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>