<ion-view title="Upload Songs" id="page18">
  <ion-content padding="true" class="has-header">
    <div style="display: flex; align-items: center;">
      <button type="button" class="buttonBack" onclick="history.go(-1)"><img src="img/arrowBack.svg" style="margin-right: 20px;"/></button>
      <h4 style="text-align: center; margin-left: 8%;"><b>Upload Song</b></h4>
    </div>
    <div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <form>
        <label for="myfile"><b>Image file:</b></label>
        <input type="file" id="myFile" name="image">
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <form id="uploadSongs-form6" class="list">
      <label>Name</label>
      <label class="item item-input" id="uploadSongs-input4">
        <input id="musica_nome" type="text" placeholder="Text here">
      </label>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <label>Description</label>
      <label class="item item-input" id="uploadSongs-textarea1">
        <span class="input-label"></span>
        <textarea type="description" id="musica_descricao" placeholder="Description"></textarea></label>
      <div class="spacer" style="width: 300px; height: 17px;display:flex"></div>
      <label>Genre</label>
      <label class="item item-select" id="uploadSongs-select1">
        <span class="input-label" >Genre</span>
        <select id="genero" onchange="var val = this.options[this.selectedIndex].value; 
        this.form.tipo.style.display=(val=='Outro')?'block':'none';
        document.getElementById('espaco').style.display=(val=='Outro')?'block':'none';
        document.getElementById('espacoo').style.display=(val=='Outro')?'block':'none'">
          <option value="Rock">Rock</option>
          <option value="Metal">Metal</option>
          <option value="Hip-Hop">Hip-Hop</option>
          <option value="Outro">Outro</option>
        </select>
      </label>
      <div class="spacer" id="espacoo" style="width: 300px; height: 17px; display: none;"></div>
      <input type="text" name="tipo" id="text" style="display: none; width: 95%; position: fixed; border: 0.5px solid black;" placeholder="Genre:"/>
      <div class="spacer" id="espaco" style="width: 300px; height: 30px; display: none;"></div>
    </form>
    <div>
      <label for="myfile"><b>Song file:</b></label>
      <input type="file" id="myfile" name="myfile">
    </div>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <a ui-sref="tabsController.profile()" id="uploadSongs-button11" style="background-color: #5685a0;" onclick="getUploadSongData()"; class="button button-stable button-block">Publish</a>
    <a ui-sref="tabsController.profile()" id="uploadSongs-button12" class="button button-block" style="background-color: #ED982A;">Cancel</a>
    </ion-content>
  <div class="musicTab" ui-sref="musica">
    <div class="musicProgress"></div>
    <div class="musicImage"></div>
    <div>
      <h4 style="font-weight: bold">Caveira</h4>
      <h5>ProfJam</h5>
    </div>
    <div style="margin-left:auto">
      <img src="img/leftArrow.svg" style="height:35px">
    </div>
    <div>
      <img src="img/playButton.svg" style="height:40px; padding-left: 10px; padding-right: 10px;">
    </div>
    <div>    
      <img src="img/rightArrow.svg" style="height:35px">
    </div>
  </div>
</div>
</ion-view>