.profile {
    font-size: 20px;
    text-align: center;
}
.letras {
    font-size: 14px;
    font-family: Roboto;
    font-weight: bolder;
    display: inline;
}

.editButton {   
    background-color: #5685A0;
    border-radius: 22%;
    color: white;
    padding: 5px 25px;
    text-align: center;
    font-size: 16px;
}