.profile {
    font-size: 20px;
    text-align: center;
}
.letras {
    font-size: 14px;
    font-weight: bolder;
    display: inline;
    font-family: Roboto;

}

.editButton {   
    background-color: #5685A0;
    border-radius: 18%;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
}